html { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
body { -webkit-user-select: none; overflow: hidden; font-family: 'Noto Sans', sans-serif; font-size: 12px; color: #b9c2c7; position: relative; width: 100%; height: 100%; border: 1px solid #222d32; border-top: none; box-sizing: border-box; }
* { -webkit-font-smoothing: antialiased; font-family: inherit; margin: 0; padding: 0; outline: none; box-sizing: inherit; }
.no-selectable { -webkit-user-select: none; cursor: default; }
a, a:visited, a:hover { color: #b9c2c7; text-decoration: none; }
.styled-scrollbar::-webkit-scrollbar-track { width: 8px; background-color: #29353b; }
.styled-scrollbar::-webkit-scrollbar { height: 8px; width: 8px; background-color: #29353b; }
.styled-scrollbar::-webkit-scrollbar-corner { background-color: #263238; }
.styled-scrollbar::-webkit-scrollbar-thumb { width: 8px; background-color: #5a656a; }
.styled-scrollbar::-webkit-scrollbar-thumb:hover { width: 8px; background-color: #788388; }
input[type="checkbox"] { -webkit-appearance: none; height: 14px; width: 14px; cursor: pointer; border-radius: 3px; background-color: #263238; }
input[type="checkbox"]:checked:before { position: relative; left: 2px; bottom: 3px; font-size: 14px; content: '✔'; color: #4db6ac; }
#head { position: relative; z-index: 10; background-color: #263238; height: 60px; border-top: 1px solid #222d32; border-bottom: 1px solid #222d32; -webkit-app-region: drag; }
#head_decor { height: 10px; width: 680px; background-color: #222d33; position: absolute; left: 0; right: 0; margin: 0 auto; top: 0; border-radius: 0 0 3px 3px; }
#head_decor:before,
#head_decor:after { content: ''; display: block; background-color: inherit; height: 20px; width: 30px; position: absolute; left: -22px; bottom: 7px; transform: rotate(30deg); }
#head_decor:after { left: auto; right: -22px; bottom: 7px; transform: rotate(-30deg); }
#head .logo { background: url('../icons/icon.png') 29px center/47% no-repeat; width: 110px; position: absolute; z-index: 5; left: 0; top: 0; height: 60px; -webkit-app-region: no-drag; }
#head .menu { position: relative; z-index: 1; list-style: none; display: block; width: 830px; margin-left: 400px; height: 60px; }
#head .menu li { line-height: 60px; display: inline-block; padding: 0 10px; font-size: 34px; }
#head .menu li span { -webkit-app-region: no-drag; color: #5a646a; height: 20px; line-height: 20px; cursor: pointer; display: inline-block; vertical-align: middle; }
#head .menu li.active span { color: #4db6ac; }
#head .menu li span:hover { color: #00bcd4; }
.window-buttons { cursor: default; font-size: 0; z-index: 999; position: absolute; top: 10px; right: 10px; height: 14px; line-height: 14px; text-align: right; -webkit-app-region: no-drag; }
.window-buttons span { cursor: pointer; font-size: 12px; display: inline-block; vertical-align: middle; width: 14px; height: inherit; line-height: inherit; margin-left: 6px; }
.window-buttons span:hover { color: #00bcd4; }
.window-buttons span.closer { font-size: 14px; }
#content { height: 556px; border-bottom: 1px solid #222d32; background: #263238; }
.content-item { position: relative; width: 100%; height: 100%; display: none; }
.content-item.active { display: block; }
.content-item[data-id=profile] .info { position: absolute; left: 0; top: 0; height: 100%; width: calc(100% - 250px); padding: 10px; }
.content-item[data-id=profile] .info .avatar { position: absolute; left: 10px; top: 10px; width: 150px; height: 150px; border-radius: 3px; background: center/contain no-repeat; }
.content-item[data-id=profile] .info .username { position: absolute; left: 170px; top: 10px; color: #00bcd4; font-size: 20px; font-weight: bold; }
.content-item[data-id=profile] .info-links { position: absolute; left: 10px; bottom: 8px; line-height: 16px; }
.content-item[data-id=profile] .settings { position: absolute; right: 0; top: 0; height: 100%; width: 250px; background: rgba(34, 45, 50, 1); border-left: 1px solid #222d32; padding: 10px; }
.content-item[data-id=profile] .settings .setter#lang { width: 100%; cursor: pointer; margin-bottom: 5px; height: 24px; color: #4db6ac; border-color: #263238; background-color: #263238; }
.content-item[data-id=profile] .settings .setter#lang:active:hover { color: #b8c1c6; }
.content-item[data-id=profile] .settings .setter#lang:hover { color: #00bcd4; }
.content-item[data-id=profile] .settings .build { width: 100%; position: absolute; bottom: 10px; left: 0; text-align: center; }
.content-item[data-id=profile] .joiner-button.logout { position: absolute; right: 10px; bottom: 10px; text-align: right; }
.services_switcher { background-color: #29353b; width: 110px; height: 529px; position: absolute; left: 0; top: 26px; border-right: 1px solid #222d32; border-top: 1px solid #222d32; overflow: hidden; }
.service-icon { border: 1px solid transparent; cursor: pointer; position: relative; width: 105px; height: 60px; margin: 0 auto 3px; font-size: 12px; }
.service-icon.active { border-color: #29353b; background: rgba(77, 182, 172, 0.7); }
.service-icon:hover:not(.active) { background: rgba(0, 188, 212, 0.7); border-color: #29353b; }
.service-icon .service-name { display: inline-flex; font-size: 12px; font-weight: bold; }
.service-icon .service-status { width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 14px; position: absolute; right: 2px; bottom: 2px; background: center/contain no-repeat; }
.service-icon .service-status span { display: none; color: #b8c1c6; }
.service-icon .service-status[data-status=win] span:first-child { display: inline; color: hotpink; }
.service-icon .service-status[data-status=work] span:first-child { display: inline; color: orange; }
.service-icon .service-status[data-status=good] span:first-child { display: inline; color: lightgreen; }
.service-icon .service-status[data-status=net] span:first-child { display: inline; color: lightskyblue; }
.service-icon .service-status[data-status=normal] span + span { display: inline; }
.service-icon .service-status[data-status=bad] span + span { display: inline; color: orangered; }
.list_type:not(.state) span:first-child { color: #4db6ac; }
.list_type.state span+span { color: #4db6ac; }
.list_type.state + .services-icons { padding-top: 7px; }
.list_type.state + .services-icons .service-icon { width: 102px; height: 20px; margin: 0 auto 7px; }
.list_type.state + .services-icons .service-icon .bg { display: none; }
.list_type.state + .services-icons .service-icon .service-name { left: 22px; top: 0; line-height: 20px; display: inline-block; vertical-align: middle; }
.list_type.state + .services-icons .service-icon:hover { color: #00bcd4; border-color: transparent; background: transparent; }
.list_type.state + .services-icons .service-icon.active { color: #4db6ac; border-color: transparent; background: transparent; }
.list_type.state + .services-icons .service-icon.active:hover { color: #00bcd4; border-color: transparent; background: transparent; }
.list_type.state + .services-icons .service-icon .service-status { font-size: 14px; position: absolute; right: 0; bottom: 0; }
.services-panels { padding: 6px 15px 10px; position: absolute; left: 100px; top: 0; width: 782px; height: 100%; overflow: hidden; }
.service-panel { display: none; }
.service-panel.active { display: block; }
.service-panel > ul { list-style: none; font-size: 0; padding-left: 10px; padding-top: 2px; }
.service-panel > ul li { border-radius: 2px 2px 0 0; color: #5a646a; cursor: pointer; display: inline-block; font-size: 14px; line-height: 14px; height: 18px; vertical-align: middle; padding: 3px 12px; background: rgba(34, 45, 50, 1); }
.service-panel > ul li:hover { color: #00bcd4; }
.service-panel > ul li.active { color: #b9c2c7; }
.service-panel > ul li.active:hover { color: #00bcd4; }
.service-panel > ul li+li { margin-left: 6px; }
.in-service-panel { font-size: 14px; display: none; background: rgba(47, 61, 68, 1); height: 476px; padding: 15px; border-radius: 2px; border: 1px solid rgba(33, 43, 48, 1); }
.in-service-panel.active { display: block; }
.service-logs { font-size: 12px; overflow-x: auto; white-space: nowrap; text-overflow: ellipsis; }
.service-logs .err { color: lightcoral; }
.service-logs .win { color: hotpink; }
.service-logs .enter { color: limegreen; }
.service-logs .jnd { color: darkgreen; }
.service-logs .steam { color: midnightblue; }
.service-logs .black { color: black; }
.service-logs .skip { color: dimgray; }
.service-logs .info { color: lightskyblue; }
.service-logs .srch { color: orange; }
.service-logs .cant { color: saddlebrown; }
.service-logs .chk { color: gray; }
.service-logs span.time { color: #4db6ac; padding-right: 16px; margin: -11px; }
.service-logs span.open-website { cursor: pointer; text-decoration: underline; }
.service-logs span.add-blacklist { cursor: pointer; text-decoration: none; color: black; }
.service-logs span.add-whitelist { cursor: pointer; text-decoration: none; color: silver; }
.service-logs span.rmv-blacklist { cursor: pointer; text-decoration: none; color: black; }
.service-logs span.rmv-whitelist { cursor: pointer; text-decoration: none; color: silver; }
.service-logs { -webkit-user-select: text; }
.service-logs .clear-log { position: absolute; right: 18px; top: 4px; font-size: 16px; color: #4db6ac; cursor: pointer; }
.service-logs .clear-log:hover { color: #00bcd4; }
.service-settings { }
.service-settings .input-wrap { display: inline-block; position: relative; }
.service-settings .input-wrap .label { padding: 0 7px; font-size: 12px; color: #4db6ac; cursor: help; }
.service-settings .input-wrap.number { text-align: center; width: 16%; margin-bottom: 10px; vertical-align: top; }
.service-settings .input-wrap.number .value-label,
.service-settings .input-wrap.number .button { display: inline-block; vertical-align: middle; }
.service-settings .input-wrap.number .value-label { min-width: 20px; text-align: center; font-size: 16px; }
.service-settings .input-wrap.number .button { width: 20px; cursor: pointer; color: #4db6ac; font-weight: bold; text-align: center; font-size: 14px; }
.service-settings .input-wrap.number .button:hover { color: #00bcd4; }
.service-settings .input-wrap.number .button.disabled { cursor: default; color: #2c383e; }
.service-settings .input-wrap .label { padding: 0 5px; font-size: 12px; color: #b8c1c6; }
.service-settings .input-wrap.checkbox { padding-left: 5px; line-height: 20px; width: 50%; }
.service-settings .input-wrap.checkbox input { margin-right: 3px; }
.joiner-button { color: #4db6ac; cursor: pointer; width: 145px; height: 32px; text-align: center; line-height: 32px; font-size: 26px; background: transparent; border: none; }
.joiner-button:not(.disabled):hover { color: #00bcd4; }
.joiner-button.disabled { cursor: default; color: #b9c2c7; pointer-events: none; }
.service-user-panel { position: relative; padding: 7px 0; height: 52px; }
.service-user-panel .joiner-button { position: absolute; right: 0; bottom: 12px; }
.service-user-panel .user-info { display: none; line-height: 16px; }
.service-user-panel .user-info.visible { display: block; }
.service-user-panel .user-info .avatar { width: 40px; height: 40px; background: center/contain transparent no-repeat; border-radius: 1px; float: left; margin-right: 10px; }
.service-user-panel .user-info > span { display: block; }
button.open-website { font-size: 21px; background: transparent; cursor: pointer; border: none; color: #4db6ac; }
button.open-website:hover { color: #00bcd4; }
button.login { font-size: 21px; background: transparent; cursor: pointer; border: none; color: #4db6ac; }
button.login:hover { color: #00bcd4; }
.service-user-panel button.open-website { position: absolute; right: 200px; bottom: 13px; }
.service-user-panel button.login { position: absolute; right: 160px; bottom: 13px; }
.input-wrap { position: relative; line-height: 20px; }
.input-wrap.checkbox input,
.input-wrap.checkbox label { display: inline-block; vertical-align: middle; cursor: pointer; color: #b9c2c7; font-size: 12px; }
.input-wrap.checkbox label:hover { color: #00bcd4; }
input-wrap.checkbox input[disabled] { cursor: default; }
.input-wrap.checkbox input[disabled] + label { cursor: default; color: #2c383e; }
.fa, .fab { -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: optimizeLegibility; line-height: 1; }
.fa-chrome:before { content: '\f268'; }
.fa-database:before { content: '\f1c0'; }
.fa-history:before { content: '\f1da'; }
.fa-ip:before { content: '\f689'; }
.fa-minus:before { content: '\f053'; }
.fa-play:before { content: '\f111'; }
.fa-plus:before { content: '\f054'; }
.fa-steam:before { content: '\f1b6'; }
.fa-times:before { content: '\f00d'; }
.fa-trash-alt:before { content: '\f2ed'; }
.fa-user-circle:before { content: '\f2bd'; }
.fa-user-cog:before { content: '\f4fe'; }
.fa-user-secret:before { content: '\f21b'; }
.fa-window-minimize:before { content: '\f2d1'; }
.fa-wrench:before { content: '\f0ad'; }
@font-face { font-family: 'Font Awesome 5 Free'; font-style: normal; font-weight: 900; src: url('fa.woff2') format('woff2'); }
.fa { font-family: 'Font Awesome 5 Free'; font-weight: 900; }
@font-face { font-family: 'Font Awesome 5 Brands'; font-style: normal; font-weight: normal; src: url('fb.woff2') format('woff2'); }
.fab { font-family: 'Font Awesome 5 Brands'; font-weight: 400; }
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 400; src: url('ns.woff2') format('woff2'); }
